# What is account verification?

Source: https://agodahomeshelp.zendesk.com/hc/en-us/articles/360055267074-What-is-account-verification

Updated: 2024-08-28T14:01:11Z

All hosts and properties partnering with Agoda are required to complete host details and property ownership information, starting October 01, 2020, regardless of the property’s registration date on Agoda. This is to comply with various legal and regulatory requirements and avoid any service interruptions.

If your property is registered as a single-unit home property, you are required to complete:

**Host details information**: Please identify yourself as hosting properties on your own behalf or managing properties on behalf of property owners.

If you are an existing host on Agoda, you will need to provide the above host details information when adding a new listing to your account or when updating any host profile information as indication here. If you are a new host registering on Agoda for the first time, it is mandatory to provide this information before you add your first listing.

**Property ownership Information**: For any individual who owns 20% or more of the property, please provide details on the ultimate beneficial owners. The details required are first and last names, country of residence, nationality and date of birth. Please provide the property legal name (in case there is no legal name, please provide the property name as registered on Agoda), address and zip code. If any portion of the property is under government ownership or control, please provide the official’s details as well. **This requirement is mandatory for every property that is registered on Agoda.**

Depending on the country your property is in, the property ownership information will need to be completed within 30, 60 or 90 days of the property going live on Agoda.

If your property is registered as a multi-unit property, you are required to complete property ownership information only.

Using secure channels, your information is passed on to a third-party provider who assists in validating the details against various data sources. This interaction between Agoda.com and the third party is fully compliant with our privacy regulations.

If the required information is not provided within the stipulated time, Agoda will temporarily stop listing the account and all properties under the account until the forms are completed. However, if you still choose to not provide the mandatory details, Agoda will terminate the contract due to safety reasons.

When registering a new listing on Agoda, the host details information must be entered on the **Profile** section. Please choose **I host on my behalf** or **I represent a company** and enter all the information as accurately as possible.

September 30, 2020

If you already have an existing account on Agoda Homes, please go to the **Profile** section and choose **I host on my behalf** or **I represent a company** to enter all the information as accurately as possible.September 30, 2020

You may also click on the booster available on the **Overview** section of your account to go to host profile page.

September 30, 2020

To enter the property ownership information, click on the booster available on the **Overview** section of your account. It will redirect you to the account verification form.

October 01, 2020

October 01, 2020
